rag_api/dataset/output.pdf
test.ipynb
rag_api/__pycache__/app.cpython-310.pyc
rag_api/__pycache__/file_handler.cpython-310.pyc
rag_api/uploads/*
rag_api/utils/__pycache__/indexer.cpython-310.pyc
rag_api/utils/__pycache__/retriever.cpython-310.pyc
rag_api/static/*
tuto/*
rag_api/utils/__pycache__/indexer.cpython-311.pyc
rag_api/utils/__pycache__/retriever.cpython-311.pyc
poetry.lock
default.sqlite
